generator/output/rest/src/main/resources/xsd/loan_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.org/loanapp/request"
           xmlns:tns="http://www.example.org/loanapp/request"
           elementFormDefault="qualified">
 
    <xs:element name="LoanApplicationRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="customerID" type="xs:string"/>
<xs:element name="loanAmount" type="xs:decimal"/>
<xs:element name="loanType" type="xs:string"/>
<xs:element name="loanTermMonths" type="xs:int"/>
<xs:element name="applicantName" type="xs:string"/>
<xs:element name="contactEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
 
</xs:schema>