generator/output/hexagonal/src/main/resources/xsd/loan_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/tibco_migration/loan"
           targetNamespace="http://example.com/tibco_migration/loan"
           elementFormDefault="qualified">

    <xs:element name="LoanApplicationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="ssn" type="xs:string"/>
                <xs:element name="email" type="xs:string" minOccurs="0"/>
                <xs:element name="amount" type="xs:decimal"/>
                <xs:element name="termMonths" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LoanApplicationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="loanId" type="xs:string"/>
                <xs:element name="applicantName" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
                <xs:element name="creditScore" type="xs:int" minOccurs="0"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
