generator/input_artifacts/creditscore_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.org/creditscore/request"
           xmlns:tns="http://www.example.org/creditscore/request"
           elementFormDefault="qualified">
 
    <xs:element name="CreditScoreRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="customerID" type="xs:string"/>
<xs:element name="applicantName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
 
</xs:schema>
